 *,*:before,*:after{
     box-sizing: border-box;
 }

body{
    margin:0;
    padding:0;
    max-width:100vh;
}
 header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.elipse{
    background:#442C69;
    clip-path: ellipse(57% 55% at 51% 80%);
    width:100vw;
    height:100px;
}
.container{
    padding:2em;
    display:flex;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 100px);
}
 header img{
    width:200px;
}
nav .sandwich_menu{
    display:flex;
    flex-direction: column;
    height:30px;
    padding-right: 1em;
}
nav .sandwich_menu .bar1,.bar2{
    height:1;
    width:30px;
    background:black;
    margin-bottom:0.3em;
    border: 1.5px solid #707070;
    border-radius:10px;
}
nav .sandwich_menu .bar2{
    transform: rotate(-10deg);
}
main{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-grow:1;
}
main .hero_description h1{
 font-size: 4em;
 margin-bottom:0.5em;
 font-family:'Audiowide',sans-serif ;
 font-weight: 500;
 color:#707070;
}
.hero_description span{
    color:#442C69;
}
main .hero_description p{
    margin-top: 0;
    font-size: 1.7rem;
    width: 81%;
    font-family: "Montserrat";
}
main img{
    max-width:40vw;
}
@media screen and (max-width:1290px){
    main .hero_description h1{
        font-size:3em;
    }
   main .hero_description p{
        font-size:1.2rem;
    }
}
@media screen and (max-width:800px){
    main img{
        display:none
    }
}